body {
	margin: 0;
	font-family: "zabras",Arial, Helvetica, sans-serif;
}

.background {
	margin: 0;
	background-image: url('img/9_intro_outro_screens/overlay.jpg');
	background-position: center;
	background-size: cover;
	gap: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(10, 10, 10);
	color: aliceblue;
	height: 100vh;
	width: auto;
}
canvas {
	background-color:none;
}

.overlay_game_screen {
	/* background-color: rgb(255, 174, 0); */
	background-image: url('img/9_intro_outro_screens/start/startscreen_1.png');
	background-position: center;
	background-size: contain;
    background-repeat: no-repeat;
	color: rgb(0, 0, 0);
	width: 720px;
	height: 480px;
	display: flex;
	flex-direction: column;
	align-items: center;
	
}

.overlay_game_screen_won {
	/* background-color: rgb(255, 174, 0); */
	background-image: url('img/You won, you lost/You won A.png');
	background-position: center;
	background-size: contain;
    background-repeat: no-repeat;
	color: rgb(0, 0, 0);
	width: 720px;
	height: 480px;
}

.overlay_game_screen_lost {
	/* background-color: rgb(255, 174, 0); */
	background-image: url('img/You won, you lost/You lost.png');
	background-position: center;
	background-size: contain;
    background-repeat: no-repeat;
	color: rgb(0, 0, 0);
	width: 720px;
	height: 480px;
}

.overlay_game_text {
	background-color: none;
	color: black;
	width: 720px;
	height: 200px;
}

.d_none {
	display: none;
}