body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(63, 55, 55);
}



canvas {
  background-color: black;
}

.display_none{
  display: none;
}
